{% extends 'livros/base.html' %}
{% load static %}
{%block content%}
    <div class="div_form_login">       
       <form class="form_login" action="{% url 'cadastro' %}" method="post">
        <div class="titulo_formulario">Fazer Cadastro</div>
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="{{ field.id_for_label }}" style="color:#292929; margin-bottom: 5px;">{{field.label}}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div>
            <button type="submit" class="btn btn-primary col-12" style="padding: top 5px;margin-top: 10px;">Cadastrar</button>
        </div>
      </form>
    </div>
{%endblock%}

