{% extends 'livros/base.html' %}
{% load static %}
{%block content%}
    <div class="div_resenhas_livro">  
        <div class="div_resenhas_image"><img src="{{ livro.image }}" class="img-fluid rounded-start" alt="Imagem de {{ livro.Title }}" style="width: 100%;"></div>  
        <div class="div_tabs_resenhas">
        <ul class="nav nav-tabs " id="myTab" role="tablist" >
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Detalhes do Livro</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Resenhas</button>
            </li>            
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ livro.Title }}</h5>
                        <p class="card-text">Descrição: {{ livro.description }}</p>
                        <p class="card-text">Autores: {{ livro.authors }}</p>
                        <p class="card-text">Editora: {{ livro.publisher }}</p>
                        <p class="card-text">Data de Publicação: {{ livro.publishedDate }}</p>
                        <p class="card-text">Categorias: {{ livro.categories }}</p>
                        <p class="card-text">Link para visualização no googlebooks: <a href="{{ livro.previewLink }}">{{ livro.previewLink }}</a></p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade  " id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0"> 
            <div class="div_botoes_resenhas">
                <button type="button" class="btn btn-primary btn-lg botao_escrever_resenha" data-bs-toggle="modal" data-bs-target="#modalEscreverResenha">
                        Escrever resenha
                </button>
                <div class="d-flex ">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Ordenar por
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=titulo&abrir=resenhas">Titulo (A-Z)</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=-titulo&abrir=resenhas">Titulo (Z-A)</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=-data_publicacao&abrir=resenhas">Mais Recentes</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=data_publicacao&abrir=resenhas">Mais Antigas</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=-media_avaliacoes&abrir=resenhas">Melhores Avaliadas</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=media_avaliacoes&abrir=resenhas">Piores Avaliadas</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=-num_avaliacoes_resenhas&abrir=resenhas">Mais Avaliadas</a></li>
                          <li><a class="dropdown-item" href="{% url 'livro' livro.id %}?ordem=num_avaliacoes_resenhas&abrir=resenhas">Menos Avaliadas</a></li>
                        </ul>
                      </div>
                    </div>
            </div>
            {% if resenhas %}
                {% for resenha in resenhas %}
                  <div class="card" style="width: 100%; margin-bottom: 20px;">
                    <div class="card-body">
                      <h5 class="card-title div_titulo"><div class="titulo_resenha">"{{ resenha.titulo }}"</div> por {{ resenha.usuario.username }}</h5>
                      <p class="card-text">Texto da resenha: {{ resenha.texto }}</p>
                      <p class="card-text">Data de publicação: {{ resenha.data_publicacao }}</p>
                      <div class="botoes_avaliacao_resenha">
                        <form class="d-flex botao_Avaliar_resenha" role="search" action="{% url 'livro' livro.id %}" method="post">
                            {% csrf_token %}
                            <div class="selecionarNota">
                                <label for="id_nota" class="form-label">Selecione a nota</label>
                                <select name="nota" id="id_nota" class="form-select">
                                    {% for value, text in form_avaliacao.fields.nota.choices %}
                                        <option value="{{ value }}">{{ text }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="resenha_id" value="{{ resenha.id }}">                                
                            </div>  
                            <button class="btn btn-outline-secondary" type="submit" style="margin-left: 15px;">Avaliar</button>                         
                        </form>                        

                        <div class="avalicao_resenha">
                        <div class="rating">
                            {% load custom_filters %}
                            {%for i in resenha.media_avaliacoes|numeroEstrelasCheias %}                      
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                              {% endfor %}
                              {% for i in resenha.media_avaliacoes|numeroEstrelasMetade  %}
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"/>
                              </svg>
                              {% endfor %}
                              {% for i in resenha.media_avaliacoes|numeroEstrelasVazio %}
                              
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                              </svg>     
                            {% endfor %}                                      
                                                         
                          </div>
                        <p class="card-text">N° de avaliações recebidas: {{ resenha.num_avaliacoes_resenhas }}                      
                      </p>
                      </div>
                    </div>
                    </div>
                  </div>
              {% endfor %}
            {% else %}
                <p>Ainda não foram feitas resenhas para este livro.</p>
            {% endif %}
            <div class="modal fade" id="modalEscreverResenha" tabindex="-1" aria-labelledby="modalEscreverResenhaLabel" aria-hidden="true">
                <div class="modal-dialog ">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalEscreverResenhaLabel">Escrever Resenha</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">                                              
                      <form action="{% url 'livro' livro.id %}" method="post" >
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form.visible_fields %}
                            <div class="form-label" style="margin-bottom: 10px;">
                                <label for="{{ field.id_for_label }}" style="color:#292929; margin-bottom: 5px;">{{field.label}}</label>
                                {{ field }}
                            </div>
                            {% endfor %}                        
                        <button type="submit" class="btn btn-primary" >Enviar Resenha</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </div>   
        </div>    
           </div>
    <script>        
        var abrir = new URLSearchParams(window.location.search).get('abrir');
        if (abrir === "resenhas") {
            document.getElementById('profile-tab').classList.add('active');
            document.getElementById('profile-tab-pane').classList.add('show', 'active');
            
            document.getElementById('home-tab').classList.remove('active');
            document.getElementById('home-tab-pane').classList.remove('show', 'active');
        }
    </script>
{%endblock%}


